.main {
    position: relative;
    /* height: 70%; */
    display: flex;
}

.left-side {
    padding-left: 120px;
    padding-top: 120px;
    width: 650px;
}

.right-side {
    padding-top: 120px;
}
