.main {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    /* margin-top: auto; */
}

.computer-title {
  margin-top: 20px;
  text-align: center;
}

.search-monitor {
  background-image: url(../assets/images/monitor.png);
  padding-top: 20px;
  background-size: contain;
  height: 600px;
  width: 300px;
}

.search-container {
  padding-left: 58px;
  padding-top: 40px;
}
  
  .is-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  
  .wrapper {
    cursor: not-allowed;
  }
