.bookcase {
    background-image: url("../assets/images/singleLayerBookcase.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.single {
    height: 90px;
    width: 110px;
}